.about {
  display: flex;
  gap: 70px;
  padding-top: 100px;
  margin-bottom: 100px;
}

.about_content {
  width: 70%;
  
}

.about_content h1 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 900;
  line-height: 70.63px;
  text-align: left;
}

.about_content p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 35.31px;
  text-align: left;
}

.book_images {
  width: 570px;
  height: 310px;
}
.book_images img {
  height: 100%;
  width: 100%;
}

