.about {
  display: flex;
  gap: 70px;
  padding-top: 100px;
  margin-bottom: 100px;
  font-family: Montserrat;
}

.about_content {
  width: 70%;
}

.about_content h1 {
  font-size: 36px;
  font-weight: 900;
  line-height: 70.63px;
}

.about_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 35.31px;
}

.book_images {
  width: 570px;
  height: 310px;
}
.book_images img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .about {
    flex-direction: column-reverse;
    padding-top: 30px;
  }

  .about_content {
    margin: 0 auto;
    text-align: center;
  }
}
