.contact_us h1 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 900;
  line-height: 70.63px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.form_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  width: 100%;
}
.contact_input {
  outline: none;
  width: 50%;
  padding: 24px 36px;
  border: 1px solid var(--form-border-color);
}
.contact_input::placeholder {
  font-family:Crimson Text;
  font-size: 23px;
  font-weight: 400;
  line-height: 29.9px;
  
}
.textarea {
  height: 150px;
  border: 1px solid var(--form-border-color);
  padding: 12px 38px;
  font-family: Crimson Text;
font-size: 23px;
font-weight: 400;
line-height: 29.9px;
text-align: left;

}

.button {
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: 15px;
  background-color: var(--orange-color);
  color: var(--text-color-white);
  border: none;
}

/* 
 @media (max-width: 480px) {
  .button{
    font-size: 16px;
  }
  .contact_form{
    font-size: 14px;
  }
 } */

 @media (max-width: 480px){
  .contact_form{
    width: 243px;
height: 333.02px;
top: 99px;
left: 38px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;
  }
  .button{
    width: 243px;
height: 37px;
top: 501px;
left: 38px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;

  }
 }