body {
  font-family: "Montserrat", sans-serif;
}
.search-section {
  padding-top: 100px;
}
.search-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}

.search-container h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 70.63px;
  color: var(--text-color-brown);
}

.search-container input {
  border: 1px solid #e6e7e9;
  padding: 24px 28px;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
.search-container input::placeholder {
  font-family: Crimson Text;
  font-size: 23px;
  font-weight: 400;
  line-height: 29.9px;
}

.search-button {
  padding: 16px 28px;
  font-family: Crimson Text, serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 38.99px;
  background-color: var(--orange-color);
  text-align: center;
  border: 0;
  border-radius: 5px;
  color: var(--text-color-white);
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  max-width: 800px;
}

.book-slider {
  display: flex;
  max-width: 800px;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.book-card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px 30px;
  min-width: 100%;
  background-color: var(--text-color-white);
}

.book-cover {
  width: 220px;
  height: auto;
}
.book-info h2 {
  color: var(--text-color-brown);
  font-size: 24px;
  font-weight: 700;
  line-height: 47.08px;
}

.book-info h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 35.31px;
  color: var(--text-color-brown);
  padding-bottom: 8px;
}

.book-info p {
  color: var(--text-color-brown);
  font-size: 14px;
  font-weight: 400;
  line-height: 27.47px;
  width: 80%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--search-slider-icon);
  border: none;
  z-index: 10;
  font-size: 36px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
@media only screen and (max-width: 991px) {
  .search-content {
    flex-direction: column;
  }
  .search-container {
    text-align: center;
    width: 100%;
  }
  .book-card {
    background-color: var(--background-color-light);
    box-shadow: none;
  }

  .book-info h2 {
    font-family: "Montserrat", sans-serif;
    color: var(--text-color-brown);
    font-size: 25px;
    font-weight: 900;
    line-height: 49.05px;
    justify-content: center;
    text-align: center;
  }

  .book-info h3 {
    font-size: 12px;
    font-weight: 700;
    line-height: 23.54px;
    width: 290px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .book-info p {
    font-size: 12px;
    line-height: 23.54px;
    width: 290px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  @media only screen and (max-width: 767px) {
    .book-card {
      flex-direction: column;
    }
    .prev,
    .next {
      display: none;
    }
  }
}
